<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-3">
      <h2><%= link_to book.title, book, :class => "btn btn-success" %></h2>
        <a href="/books/"<%= book.id %>>
          <%= image_tag book.book_img.url(:book_index) %>
        </a>
        <p><%= book.author %></p>
    </div>
  <% end %>
</div>
